body {
  font-family: Arial, sans-serif;
  color: #333;
  background-color: #f7f7f7;
  margin: 0%;
  padding:0;
  background-image: url(../Imagenes/IMG-20221222-WA0052.jpg); 
  background-size: contain; 
  background-repeat: repeat;
  background-position: bottom;
  background-attachment: fixed;
  background-position-y: inherit;
}

  
  h1{
    font-family: ¨Mifuente¨, italic;
    font-style: italic;
    font-weight: bold;
    color: #1476e6;
    font-size: 80px;
    background-color: hsl(123, 80%, 49%);
    display: inline-flex;
    border: double;
    border-style: double;
   margin: 10px;
   padding: 10px;
  }

span {
  display: inline-block;
  font-size: 30px;
}


  
@font-face {
  font-family: 'MiFuente';
  src: url('../Fuentes/roman_vibes/Roman\ Vibes\ demo.ttf');
}

h3 {
    font-weight: bold;
    color: #555;
  }
h2{
    font-weight: bolder ;
    color: #353535;
    font-style: normal;
    font-variant: small-caps;
    background-color: #1e72e0d5;
    background-blend-mode: luminosity;
    text-align: center;
    

  }
 
  .card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 5px;
    background-color: #ffffffa9;
    border: #333;
    border-radius: 25%;
    padding: 16px;
    margin-bottom: 16px;
    margin-right: 40px;
    margin-left: 40px;
    text-align: center;
  }

  /* Estilos para el menú */
header {
  background-color: #1e72e0d5; /* Color de fondo del encabezado */
  color: #333; /* Color del texto en el encabezado */
  padding: 1px; /* Espaciado interno del encabezado */

}

ul {
  list-style-type: none; /* Eliminar los puntos de la lista */
  margin: 0; /* Eliminar el margen externo de la lista */
  padding: 0; /* Eliminar el margen interno de la lista */
}

nav ul li {
  display: inline; /* Mostrar los elementos de la lista en línea */
  margin-right: 10px; /* Espaciado derecho entre elementos de lista */
  margin-left: 10px; /* Espaciado entre elementos de lista*/
 
  
}

nav ul li a {
  color: #fff; /* Color del texto en los enlaces del menú */
  text-decoration: none; /* Eliminar subrayado de los enlaces */
}

  

  