$primary-color: #1476e6;
$secondary-color: #333;
$background-color: #f7f7f7;
$font-size: 10px;


@mixin box-style {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  background-color: #ffffffa9;
  border: #333;
  border-radius: 25%;
  padding: 16px;
  margin-bottom: 16px;
  margin-right: 40px;
  margin-left: 40px;
  text-align: center;
}

@mixin font-style($font-family, $font-style, $font-weight, $color) {
  font-family: $font-family;
  font-style: $font-style;
  font-weight: $font-weight;
  color: $color;
}


body {
  font-family: Arial, sans-serif;
  color: $secondary-color;
  background-color: $background-color;
  margin: 0%;
  padding: 0;
  background-image: url(../Imagenes/IMG-20221222-WA0052.jpg);
  background-size: contain;
  background-repeat: repeat;
  background-position: bottom;
  background-attachment: fixed;
  background-position-y: inherit;
}

h1 {
  @include font-style('MiFuente', italic, bold, $primary-color);
  font-size: 80px;
  background-color: hsl(123, 80%, 49%);
  display: inline-flex;
  border: double;
  border-style: double;
  margin: 10px;
  padding: 10px;
}

h2 {
  @include font-style('Arial', normal, bolder, $secondary-color);
  font-variant: small-caps;
  background-color: #1e72e0d5;
  background-blend-mode: luminosity;
  text-align: center;
  font-size: 32px;
  padding: 20px;
  background: linear-gradient(to bottom, #1e72e0f1, #afafb3b7);
  

}

span {
  display: inline-block;
  font-size: 30px;
}

h3 {
  font-weight: bold;
  color: $secondary-color;
}

.card {
  @include box-style;
  transition: transform 0.3s ease-in-out;
}
.card:hover {
  transform: scale(1.1);
}


header {
  background-color: #1e72e0d5;
  color: $secondary-color;
  padding: 1px;
  background: linear-gradient(to top, #1e72e0d5, #1410e3);

}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 10px;
  margin-left: 10px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}

.navbar-brand {
  width: 200px;
  margin-right: 10px;
  padding: 0px 12px;
}
