
$primary-color: #4CAF50;
$secondary-color: #555;
$font-family: Arial, sans-serif;
$font-weight-bold: bold;
$font-style-normal: normal;
$background-color: #f7f7f7;
$image-url: url(../Imagenes/IMG-20221222-WA0052.jpg);
$font-url: url('../Fuentes/roman_vibes/Roman Vibes demo.ttf');


@mixin box-style {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  background-color: #ffffffa9;
  padding: 1%;
  margin: 8%;
  border: #333;
  border-radius: 2%;
}


%box-style {
  @extend .card;
}


body {
  font-family: $font-family;
  color: #333;
  background-color: $background-color;
  margin: 0%;
  padding: 0;
  background-image: $image-url;
  background-size: contain;
  background-repeat: repeat;
  background-position: bottom;
  background-attachment: fixed;
  background-position-y: inherit;
}

h3, h2 {
  font-weight: $font-weight-bold;
  font-style: $font-style-normal;
  color: $secondary-color;
  text-align: center;
}

h1 {
  font-family: 'MiFuente', italic;
  font-style: italic;
  font-weight: $font-weight-bold;
  color: #002f6400;
  font-size: 80px;
  background-color: hsl(123, 80%, 49%);
  display: inline-flex;
  border: double;
  border-style: double;
  margin: 10px;
  padding: 10px;
}

span {
  display: inline-block;
  font-size: 30px;
}

img {
  width: auto;
  height: 200px;
  border-radius: 4%;
}

.btn {
  display: inline-block;
  padding: 8px 16px;
  background-color: $primary-color;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  transition: background-color 0 ease;

}
.btn:hover {
    background-color: #1410e3;
  background-color: $primary-color;
    background: linear-gradient(to top, $primary-color , #00ff51) ;
  }

p {
  display: flex;
}


.card {
  @include box-style; 
  transition: transform 0.3s ease-in-out;
}
.card:hover {
  transform: scale(1.1);
}

@font-face {
  font-family: 'MiFuente';
  src: $font-url;
}

main {
  display: flex;
  flex-direction: row;
}


header {
  background-color: #1e72e0d5;
  color: $secondary-color;
  padding: 1px;
  background: linear-gradient(to top, #1e72e0d5, #1410e3);

}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 10px;
  margin-left: 10px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}

.fotologo {
  width: 299px;
  margin-right: 10px;
  padding: 0px;
}
